{% extends "layout.html" %} {% block body%}

<main>
  <section
    class="hero d-flex justify-content-center align-items-center"
    id="section_1"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-12">
          <div class="hero-text">
            <div class="row">
              <div class="col-lg-10 col-12">
                <div class="profile-thumb">
                  <div style="background: #bcbcbc" class="profile-title">
                    <h4 style="color: #303832" class="mb-0">
                      {{d_p["meta"]["symbol"]}}
                    </h4>
                  </div>

                  <div class="profile-body">
                    <p>
                      <span
                        style="color: #ffffff; min-width: 162px"
                        class="profile-small-title"
                        >Website</span
                      >
                      <span ><a style="color: #ffffff" href="{{d_p["body"]["website"]}}" target='_blank'>{{d_p["body"]["website"]}}</a></span>
                    </p>
                    <p>
                      <span
                        style="color: #928080; min-width: 162px"
                        class="profile-small-title"
                        >Country</span
                      >
                      <span style="color: #928080">{{d_p["body"]["country"]}}</span>
                    </p>
                    <p>
                      <span
                        style="color: #ffffff; min-width: 162px"
                        class="profile-small-title"
                        >City</span
                      >
                      <span style="color: #ffffff"
                        >{{d_p["body"]["city"]}}</span
                      >
                    </p>
                    <p>
                      <span
                        style="color: #928080; min-width: 162px"
                        class="profile-small-title"
                        >Sector</span
                      >
                      <span style="color: #928080"
                        >{{d_p["body"]["sector"]}}</span
                      >
                    </p>
                    <p>
                      <span
                        style="color: #ffffff; min-width: 162px"
                        class="profile-small-title"
                        >Industry</span
                      >
                      <span style="color: #ffffff"
                        >{{d_p["body"]["industry"]}}</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-12 position-relative">
          <div style="background: black" class="hero-image-wrap">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style="color: #303832">About Comapny</h5>

                <p style="color: #544667" class="card-text">
                  {{d_p["body"]["longBusinessSummary"][:600]}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#535da1"
        fill-opacity="1"
        d="M0,160L24,160C48,160,96,160,144,138.7C192,117,240,75,288,64C336,53,384,75,432,106.7C480,139,528,181,576,208C624,235,672,245,720,240C768,235,816,213,864,186.7C912,160,960,128,1008,133.3C1056,139,1104,181,1152,202.7C1200,224,1248,224,1296,197.3C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"
      ></path>
    </svg>
  </section>

  <!-- Company stastical Information -->

  <section class="featured section-padding">
    <div class="compnay_stat_div">
      <div class="col-lg-8 col-md-8 col-12 ms-auto">
                        <div style="background-color:#535da1" class="section-title-wrap d-flex justify-content-center align-items-center mb-4">
                            <img src="images/white-desk-work-study-aesthetics.jpg" class="avatar-image img-fluid"
                                alt="">

                            <h2 class="text-white ms-4 mb-0">Statistical Information About Company</h2>
                        </div>
                    </div>
      <div class="stat_info_div">
        <div class="container text-center stat_value">
          <div class="row">
            <div class="col stat_value_div featured-border-bottom">
              <strong class="featured-numbers">${{d_s["body"]["bookValue"]["fmt"]}}</strong>
              <p class="featured-text stat_type_name">BookValue</p>
            </div>
            <div
              class="col stat_value_div featured-border-start featured-border-bottom"
            >
              <strong class="featured-numbers"
                >${{d_s["body"]["enterpriseValue"]["fmt"]}}</strong
              >
              <p class="featured-text stat_type_name">EnterpriseValue</p>
            </div>
          </div>

          <div class="row">
            <div class="col stat_value_div featured-border-bottom">
              <strong class="featured-numbers">${{d_f["body"]["ebitda"]["fmt"]}}</strong>
              <p class="featured-text stat_type_name">EBITDA</p>
            </div>
            <div
              class="col stat_value_div featured-border-start featured-border-bottom"
            >
              <strong class="featured-numbers">${{d_s["body"]["forwardEps"]["fmt"]}}</strong>
              <p class="featured-text stat_type_name">Forward Earnings Per Share</p>
            </div>
          </div>

          <div class="row">
            <div class="col stat_value_div featured-border-bottom">
              <strong class="featured-numbers">${{d_f["body"]["totalRevenue"]["fmt"]}}</strong>
              <p class="featured-text stat_type_name">Total Revenue</p>
            </div>
            <div
              class="col stat_value_div featured-border-start featured-border-bottom"
            >
              <strong class="featured-numbers">${{d_f["body"]["grossProfits"]["fmt"]}}</strong>
              <p class="featured-text stat_type_name">Gross Profit</p>
            </div>
          </div>

          <div class="row">
            <div class="col stat_value_div featured-border-bottom">
              <strong class="featured-numbers">${{d_s["body"]["forwardPE"]["fmt"]}}</strong>
              <p class="featured-text stat_type_name">Forwaed PEratio</p>
            </div>
            <div
              class="col stat_value_div featured-border-start featured-border-bottom"
            >
              <strong class="featured-numbers">
                {{d_f["body"]["grossMargins"]["fmt"]}}</strong
              >

              <p class="featured-text stat_type_name">Gross Margin</p>
            </div>
          </div>

          <div class="row">
            <div class="col stat_value_div featured-border-bottom">
              <strong class="featured-numbers"
                >${{d_f["body"]["returnOnEquity"]["fmt"]}}</strong
              >
              <p class="featured-text stat_type_name">ROE</p>
            </div>
            <div
              class="col stat_value_div featured-border-start featured-border-bottom"
            >
              <strong class="featured-numbers"
                >${{d_s["body"]["profitMargins"]["fmt"]}}</strong
              >
              <p class="featured-text stat_type_name">ProfitMargin</p>
            </div>
          </div>

          <div class="row">
            <div class="col stat_value_div featured-border-bottom">
              <strong class="featured-numbers">${{d_s["body"]["52WeekChange"]["fmt"]}}</strong>
              <p class="featured-text stat_type_name">52WeekChange</p>
            </div>
            <div
              class="col stat_value_div featured-border-start featured-border-bottom"
            >
              <strong class="featured-numbers">${{d_s["body"]["SandP52WeekChange"]["fmt"]}}</strong>
              <p class="featured-text stat_type_name">SandP52WeekChange</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Chart for the Particuar compnay -->

  <!--<section class="projects section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-12 ms-auto">
                        <div class="section-title-wrap d-flex justify-content-center align-items-center mb-4">
                            <img src="images/white-desk-work-study-aesthetics.jpg" class="avatar-image img-fluid"
                                alt="">

                            <h2 class="text-white ms-4 mb-0">News About {{d_p["meta"]["symbol"]}}</h2>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                      <div id="myPlot" style="width:100%;max-width:700px"></div>
                  
                    </div>

                  </div>
            </div>
        </section>-->


  <section class="projects section-padding" id="section_4">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-12 ms-auto">
                        <div class="section-title-wrap d-flex justify-content-center align-items-center mb-4">
                            <img src="images/white-desk-work-study-aesthetics.jpg" class="avatar-image img-fluid"
                                alt="">

                            <h2 class="text-white ms-4 mb-0">News About {{d_p["meta"]["symbol"]}}</h2>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                  {% for news in d_n["body"] %}

                   
                    <div class="col-lg-4 col-md-6 col-12">
                      <a href="{{news['link']}}" target="_blank">
                        <div class="projects-thumb">
                            <div class="projects-info">
                                <small class="projects-tag">{{news['pubDate'][:-6]}}</small>

                                <h3 class="projects-title">{{news['title']}}</h3>

                                <p>{{news['description'][:300]}}</p>
                            </div>
                            <!--<img src="{{news['link']}}"
                                    class="projects-image img-fluid" alt=""-->
                        </div>
                    </a>

                    </div>

                  {% endfor %}
                  
                </div>
            </div>
        </section>

  {% endblock%}
</main>
