{% extends "layout.html" %} {%block body%}

<section class="projects section-padding" id="section_4">
  <div class="container">
    <div class="row" id="news">
      <div class="col-lg-8 col-md-8 col-12 ms-auto">
        <div
          class="section-title-wrap d-flex justify-content-center align-items-center mb-4"
        >
          <img src="{{url_for("static" ,filename="images/news.jpg")}}"
          class="avatar-image img-fluid" alt="">

          <h2 class="text-white ms-4 mb-0">news</h2>
        </div>
      </div>

      <div class="clearfix"></div>

      <!-- add news -->
    </div>
  </div>
</section>

{% endblock%}
